@import '_assets/styles/styles.css';

body {
	width: 960px;
	padding: 120px;
	background-color: #fff;
	margin: 0;
}

.mceItemMedia.mceItemIframe {
	width: 960px;
	max-width: 960px;
	height: 640px !important;
	margin-bottom: 53px;
}

.inverse img,
.inverse .mceItemMedia.mceItemIframe,
p.with-margins .mceItemMedia.mceItemIframe {
	width: 720px;
	max-width: 720px;
	height: 500px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.inverse img {
	height: auto !important;
}

.slider {
	background-color: #e1e1e1;
	padding: 20px;
	text-align: center;
	width: 960px !important;
	max-width: 960px !important;
	margin-left: -120px !important;
}

	.slider img {
		display: inline-block;
		vertical-align: top;
		zoom: 1;
		*display: inline;
		*vertical-align: middle;
		width: auto !important;
		max-width: 100px !important;
		height: auto !important;
		max-height: 100px !important;
		margin: 5px !important;
	}

p img {
	max-width: 960px !important;
	margin-left: -120px !important;
	height: auto !important;
}

p.with-margins img {
	height: auto !important;
	max-width: 100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	max-height: 720px !important;
}

.hr {
	width: 960px;
	margin: 50px -120px 50px;
}

.inset-left,
.inset-right,
.with-margins {
	background-color: #ececec;
}

td {
	font-family: 'PT Sans', sans-serif !important;
	font-size: 16px !important;
	line-height: 25px !important;
	margin: 0px !important;
}
.mceItemTable,
.mceItemTable td,
.mceItemTable th,
.mceItemTable caption,
.mceItemVisualAid {
	border: 1px dotted #ccc !important;
}

.inverse {
	margin-left: -120px;
	margin-right: -120px;
	padding-left: 120px;
	padding-right: 120px;
}