p.large-text {
	padding: 0;
	margin: 42px 0 38px 0;
	.large;

	p:last-child {
		margin: 0;
	}
}

blockquote {
	padding: 0 0 0 60px;
	margin: 42px 0 38px 0;
	position: relative;
	.caps;

	p:last-child {
		margin: 0;
	}
}