.code {
	font-family: 'PT Mono', monospace;
	.fs( 14px, 24px );
	background-color: lighten(@grey, 10%);
	padding: 52px 120px 51px !important;
	margin: 0 -120px 50px;
	overflow: auto;
	position: relative;
	white-space: nowrap;

	p + & {
		margin-top: 50px;
	}
}