img {
	vertical-align: middle;
	background-color: darken(#d4d4d4, 10%);
	display: block;
	max-width: 960px;
	height: auto !important;
	margin: 52px -120px 48px;

	& + img {
		margin-top: -50px !important;
	}
	&.aligncenter {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.hr + p > & {
		margin-top: 60px;
	}
}