.slider {
	width: 960px;
	max-width: 960px;
	height: auto !important;
	margin: 0px -120px 50px;
	text-align: center;

	&:last-child {
		margin-bottom: -92px;

		@media screen and (max-width: 960px) {
			margin-bottom: -30px;
		}
	}

	img {
		margin: 0;
		max-height: 640px;
		width: auto;
		display: inline;

		& + img {
			margin-top: 0px !important;
		}
	}

	@media screen and (max-width: 960px) {
		width: 640px;
		max-width: 640px;
		margin-left: -60px;
		margin-right: -60px;
		margin-bottom: 48px;
	}

	@media screen and (max-width: 720px) {
		width: 480px;
		max-width: 480px;
	}
}

.post__body style:first-child {
	margin-top: -54px;
	display: block;

	@media screen and (max-width: 960px) {
		margin-top: -24px;
	}
}

.post__body p.caption + style {
	margin-top: -20px;
	display: block;
}

.page .slider {
  margin-left: -60px !important;
}